<!DOCTYPE html>
<html lang="en">

<head>
    <title>David's blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div>
        <h1><a href="https://arundavidjohnson.blogspot.in/">Arun David Johnson Blog</a></h1>
    </div>
    <div>
        <p>Published: 2017-07-13 11:24:12</p>
        <h2>
            <a href="">Every move I make</a>
        </h2>
        <p>Na-- na-- na na na na na (3X) Every move I make I make in You You make me move, Jesus Every breath I take I breathe in You Every step I take I take in You You are my way, Jesus Every breath I take I breathe in You Waves of mercy Waves of grace
            Everywhere I look I see Your face Your love has captured me Oh my God, this love How can it be</p>
    </div>
    <div>
        <p>Published: 2017-07-13 11:22:36</p>
        <h2>
            <a href="">Head and shoulder</a>
        </h2>
        <p>Head and shoulders, knees and toes, knees and toes, knees and toes Head and shoulders, knees and toes All belong to Jesus Toes and Knees, Shoulder Head, Shoulder Head, Shoulder Head Toes and Knees, Shoulder Head All belong to Jesus</p>
    </div>
</body>

</html>